/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/
.banner--full-width {
	height: auto;
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: none;
	position: relative;
	right: 50%;
	width: 100vw;

  & > img {
  	max-width: none;
  	width: 100%;
  }
}
